<!DOCTYPE html>
<!-- レイザーはHTMLにC#のコードを埋め込むものでビューエンジンと呼ばれる。アットで始まるものがサーバーサイドで処理される -->

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <!--ログインしていればtrueが返ってくるプロパティ-->
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("ログアウト", "SignOut", new { Controller = "Login" })

            //userオブジェクトのisinroleメソッド
            if (User.IsInRole("Administrators"))
            {
                <span>|</span>
                @Html.ActionLink("ユーザー管理", "Index", new { Controller = "Users" });
            }
        }


    </div>
        <div class="container">
            @RenderBody()
        </div>
</body>
</html>
